---
---

// -------------------
// STYLE FILE
// -------------------

// -------------------
// Available fonts
// "Noto Sans", sans-serif;
// "Quicksand", sans-serif;
// "Inconsolata", monospace;
// "VT323", monospace;
// -------------------

// Hyperlinks
a {
  color: #4d1af3;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #f07f28;
  text-decoration: none;
}
a {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-display: auto;
}

// Other text
body,
td,
th,
tr,

// Main body text
p {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-display: auto;
}

// Bold text
b {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-display: auto;
}

// Title text
main {
  font-family: "VT323", monospace;
  font-size: 36px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;
}

// Subsec text
sub-sec {
  font-family: "VT323", monospace;
  font-size: 26px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

// Paper title text
paper-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

// Subsec lines
.subsec-hr {
  border: 1.8px dashed black;
}

// -------------------
// Scrollbar styling

#scroll {
  white-space: normal;
  position: absolute;
}

#oScroll {
  margin: 0;
  padding: 0;
  position: relative;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom scrollbar styling */
#oScroll::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

#oScroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

#oScroll::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

#oScroll::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Color of the scrollbar thumb on hover */
}

// -------------------