<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC4D4CQQNS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PC4D4CQQNS');
  </script>

  <!-- Meta website info -->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alexander Timans" />
  <meta name="description" content="Alexander Timans' personal website" />

  <!-- Title and settings -->
  <title>Alexander Timans</title>

  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="canonical" href="https://alextimans.github.io">
  
  <!-- Check icons here: https://favicon.io/ -->
  <link rel="icon" href="images/favicon4.png">
  <!-- Check fonts here: https://fonts.google.com/ -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|family=Quicksand:400,700|Inconsolata:400,700|VT323:400&display=swap" rel="stylesheet" type="text/css">
</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- ABOUT ME & PIC -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <main>
                Alexander Timans
              </main>
              <p style="text-align: center;">
                <a href="mailto:a.r.timans@uva.nl">Mail</a> &nbsp; | &nbsp;
                <a href="https://www.linkedin.com/in/alexander-timans/">LinkedIn</a> &nbsp; | &nbsp;
                <a href="https://scholar.google.com/citations?user=tgiKFH4AAAAJ">Google Scholar</a> &nbsp; | &nbsp;
                <a href="https://github.com/alextimans">GitHub</a> &nbsp; | &nbsp;
                <a href="docs/cv_timans_2023_09.pdf" target="_blank">CV</a>
              </p>
              <p style="text-align: center; font-size: 11px;">
                Last updated: August 2024
              </p>            
              <sub-sec>About me</sub-sec>
              <hr class="subsec-hr">
              <p>
                I am a PhD candidate at the <a href="https://www.uva.nl/en">University of Amsterdam</a> in the 
                <a href="https://amlab.science.uva.nl/">Machine Learning Lab</a>, 
                jointly supervised by <a href="https://enalisnick.github.io/">Eric Nalisnick</a> (from Johns Hopkins) 
                and <a href="https://naesseth.github.io/">Christian Naesseth</a>.
                I am part of the <a href="https://ivi.fnwi.uva.nl/uvaboschdeltalab/">Delta Lab</a>, a
                research collaboration with the <a href="https://www.bosch-ai.com">Bosch Center for Artificial Intelligence</a>.
                In that context, I am also advised by Bosch research scientists 
                <a href="https://www.bosch-ai.com/research/researcher-pages/t_overviewpage_51.html">Christoph-Nikolas Straehle</a>
                and <a href="https://ksakmann.github.io">Kaspar Sakmann</a>.
              </p>
              <p>
                My <b>research interests</b> focus on principled and efficient uncertainty quantification for
                deep learning, with the goal of facilitating model reasoning and decision-making. 
                This includes probabilistic approaches based on frequentist statistics such as 
                <a href="https://arxiv.org/abs/2107.07511">conformal prediction</a>,
                <a href="https://dl.acm.org/doi/abs/10.1145/3478535">risk control</a> or 
                <a href="https://projecteuclid.org/journals/statistical-science/volume-38/issue-4/Game-Theoretic-Statistics-and-Safe-Anytime-Valid-Inference/10.1214/23-STS894.full">
                  e-values</a>, but also those relying on 
                <a href="https://proceedings.neurips.cc/paper_files/paper/2019/hash/b53477c2821c1bf0da5d40e57b870d35-Abstract.html">
                  Bayesian</a> principles. I am also interested in the connection to other notions of model reliability such as 
                <a href="http://proceedings.mlr.press/v70/guo17a.html">calibration</a> and
                <a href="https://www.tandfonline.com/doi/abs/10.1198/016214506000001437?casa_token=7nsVzK0C06wAAAAA:LH4AvnK4eK94yhDSxRVcCiN_FwRVvegjLFTIS8ZQnh4pB-5118MqLCrwdF0jPbGJtfYfr5j78YKv">
                forecaster scoring</a>, robustness and 
                <a href="https://proceedings.neurips.cc/paper_files/paper/2022/hash/d201587e3a84fc4761eadc743e9b3f35-Abstract-Datasets_and_Benchmarks.html">
                  generalization</a>, or <a href="https://arxiv.org/abs/2006.06848">interpretability</a>. 
                Applications of interest include vision, time series, and online settings.
              </p>
              <p>
                I graduated with an MSc in Statistics from <a href="https://math.ethz.ch/sfs">ETH Zurich</a>,
                specialising in machine learning and computational statistics.
                My master thesis was an interdisciplinary project with the 
                <a href="http://mie-lab.ethz.ch">MIE Lab</a>
                on uncertainty quantification in traffic prediction (see 
                <a href="https://arxiv.org/abs/2308.06129">here</a>). I obtained a BSc 
                in Industrial Engineering from the 
                <a href="https://www.kit.edu/english/">Karlsruhe Institute of Technology</a> (KIT),
                focusing on statistics and finance.
              </p>
            </td>
            <td style="padding:2.5%;width:35%;max-width:40%; vertical-align: middle;">
              <img style="width:100%;max-width:100%;border: 0.3px solid black;border-radius: 15%; margin-top: 30px;" 
                   alt="profile photo" src="images/portrait.jpg">
            </td>          
          </tr>
        </table>

        <!-- UPDATES -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>
            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">

                <sub-sec>Updates</sub-sec>
                <hr class="subsec-hr">

                <div class="container sidebar col-md-3">
                  <div class="panel-body" id="oScroll">
                    <div id="scroll">
                      
                      {% assign sorted_updates = site.updates | sort: 'date' | reverse %}
                      {% for update in sorted_updates %}
                        <span>{{ update.content | markdownify }}</span>
                      {% endfor %}

                    </div>
                  </div>
                </div>

              </td>
            </tr>
          </tbody>
        </table>

        <!-- RESEARCH -->
        <div style="padding: 2.5%;">
          <sub-sec style="margin: 0; padding: 0;">Research</sub-sec>
          <hr class="subsec-hr">
        </div>
        
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>

            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <paper-title>{{post.title}}</paper-title>
              <br>
              {{post.authors}}
              <br>
              <br>
              {% if post.venue %}
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% endif %}
              {% if post.note %}
              <em>{{post.note}}</em>
              <br>
              {% endif %}
              Links:
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">Paper</a>
              {% endif %}
              {% if post.code %}
              | <a href="{{post.code}}" target="_blank">Code</a>
              {% endif %}
              {% if post.poster %}
              | <a href="{{post.poster}}" target="_blank">Poster</a>
              {% endif %}
              {% if post.video %}
              | <a href="{{post.video}}" target="_blank">Video</a>
              {% endif %}
              {% if post.slides %}
              | <a href="{{post.slides}}" target="_blank">Slides</a>
              {% endif %}
              {{ post.excerpt }}
            </td>

            <td style="padding:2.5%;width:40%;vertical-align:middle;text-align: center;">
              <img src="{{post.image}}" alt="project image"
                style="width:auto; height:auto; max-width:110%; max-height: 110%;" />
            </td>

          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- OTHER ACTIVITIES -->
        <div style="padding: 2.5%;">
          <sub-sec style="margin: 0; padding: 0;">Other activities</sub-sec>
          <hr class="subsec-hr">
        </div>

        <ul style="padding-left: 35px; margin-top: 0px; list-style-type: square;">
          <li>
            <b>Reviewing</b>: NeurIPS 2024, ICCV 2023
          </li>
          <li>
            <b>Teaching & Supervision</b>: Project AI (MSc/UvA), 
            Human-in-the-loop ML (MSc/UvA), Introduction to ML (BSc/UvA),
            Derck Prinzhorn (BSc Thesis/UvA, <b>Thesis award</b>), 
            Deep Learning 2 (MSc/UvA), ANOVA (MSc/ETH), Econometrics (BSc/KIT)
          </li>
        </ul>

        <!-- SOURCE -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:11px;">
                Source: adapted from <a style="font-size:11px;" href="https://dvtailor.github.io">Dharmesh Tailor's
                  fork</a> of <a style="font-size:11px;" href="https://leonidk.com/">Leonid Keselman's fork</a> of 
                  <a style="font-size:11px;" href="https://jonbarron.info">John Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>