<!DOCTYPE HTML>
<html lang="en">

<head> 
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC4D4CQQNS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);} 
    gtag('js', new Date());
    gtag('config', 'G-PC4D4CQQNS');
  </script> 

  <!-- Meta website info -->
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Thijmen Nijdam" />
  <meta name="description" content="Thijmen Nijdam's personal website" />

  <!-- Title and settings -->
  <title>Thijmen Nijdam</title> 

  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="canonical" href="https://thijmennijdam.github.io">

  <!-- Check icons here: https://favicon.io/ -->
  <link rel="icon" href="images/favicon-cowboyhat.png">
  <!-- Check fonts here: https://fonts.google.com/ -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|family=Quicksand:400,700|Inconsolata:400,700|Oswald:400&display=swap" rel="stylesheet" type="text/css">
</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- ABOUT ME & PIC -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:65%;vertical-align:middle">
            <main>
              Thijmen Nijdam
            </main>
            <p style="text-align: center;">
              <a href="mailto:thijmen.nijdam@gmail.com">Mail</a> &nbsp; | &nbsp;
              <a href="https://www.linkedin.com/in/thijmen-nijdam/">LinkedIn</a> &nbsp; | &nbsp;
              <a href="https://scholar.google.com/citations?user=2LvZ7lsAAAAJ&hl=en">Google Scholar</a> &nbsp; | &nbsp;
              <a href="https://github.com/thijmennijdam">GitHub</a> &nbsp; | &nbsp;
              <a href="docs/CV.pdf" target="_blank">CV</a>
            </p>
            <p style="text-align: center; font-size: 11px;">
              Last updated: March 2026
            </p>
            <sub-sec>About Me</sub-sec>
            <hr class="subsec-hr">
            <p>
            I recently completed my MSc in AI at the <a href="https://www.uva.nl/en">University of Amsterdam</a>, where I enjoyed doing research and contributed to several research papers. My thesis developed a local, affordance-centric world model for zero-shot model predictive control in articulated object manipulation, supervised by <a href="https://zadaianchuk.github.io/">Dr. Andrii Zadaianchuk</a> and <a href="https://www.egavves.com/">Prof. Efstratios Gavves</a>.
            </p>
            <p>
            I enjoy diving deep into recent advancements in AI while always continuing to solidify my understanding of the fundamentals. Currently, I am also working as an AI Software Developer at <a href="https://www.leerlevels.nl/">LeerLevels</a>, integrating generative AI into the platform. Outside of work, I enjoy hiking, playing squash, and nerding out over Formula 1.
            </p>
            <p>
            I am currently seeking new opportunities as an AI Engineer or AI Research Engineer, so feel free to <a href="mailto:thijmen.nijdam@gmail.com">reach out</a>!
            </p>
            </td>

            <td style="padding:2.5%;width:35%;max-width:40%; vertical-align: middle;">
              <img style="width:100%;max-width:100%;border: 1.5px solid black;border-radius: 20%; margin-top: 30px;" 
                   alt="profile photo" src="images/portret_thijmen.jpeg">
            </td>      
          </tr>
        </table>

        <!-- ACTIVITIES -->
        <!--
        <div style="padding: 2.5%;">
          <sub-sec style="margin: 0; padding: 0;">Current Activities</sub-sec>
          <hr class="subsec-hr">
        </div>

        <ul style="padding-left: 35px; margin-top: 0px; list-style-type: square;">
          <li>
            <b>Freelance:</b> AI Software Developer at <a href="https://www.leerlevels.nl/">LeerLevels</a>.
          </li>
          <li>
            <b>Looking for work:</b> Seeking AI Engineer or AI Research Engineer positions.
          </li>
        </ul>
        -->

        <!-- RESEARCH -->
        <div style="padding: 2.5%;">
          <sub-sec style="margin: 0; padding: 0;">Publications</sub-sec>
          <hr class="subsec-hr">
        </div>
        
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>

            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <paper-title>{{post.title}}</paper-title>
              <br>
              {{post.authors}}
              <br>
              <br>
              {% if post.venue %}
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% endif %}
              {% if post.note %}
              <em>{{post.note}}</em>
              <br>
              {% endif %}
              Links:
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">Paper</a>
              {% endif %}
              {% if post.website %}
              | <a href="{{post.website}}" target="_blank">Website</a>
              {% endif %}
              {% if post.code %}
              | <a href="{{post.code}}" target="_blank">Code</a>
              {% endif %}
              {% if post.poster %}
              | <a href="{{post.poster}}" target="_blank">Poster</a>
              {% endif %}
              {% if post.video %}
              | <a href="{{post.video}}" target="_blank">Video</a>
              {% endif %}
              {% if post.slides %}
              | <a href="{{post.slides}}" target="_blank">Slides</a>
              {% endif %}
              {{ post.excerpt }}
            </td>

            <td style="padding:2.5%;width:40%;vertical-align:middle;text-align: center;">
              <img src="{{post.image}}" alt="project image"
                style="width:auto; height:auto; max-width:110%; max-height: 110%;" />
            </td>

          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- SOURCE -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br> 
              <p style="text-align:center;font-size:11px;">
                Source: adapted from <a style="font-size:11px;" href="https://alextimans.github.io/">Alexander Timans'
                  fork</a> of <a style="font-size:11px;" href="https://dvtailor.github.io">Dharmesh Tailor's
                  fork</a> of <a style="font-size:11px;" href="https://leonidk.com/">Leonid Keselman's fork</a> of 
                  <a style="font-size:11px;" href="https://jonbarron.info">John Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>